.fl-widget-provider {
  border: 0;
  width: 100%;
  background-color: transparent;
}

.form-horizontal {
  overflow: hidden;
  padding: 15px;
}

.interface-container.loading .form-horizontal {
  display: none;
}

.loading-holder {
  display: none;
  text-align: center;
  position: fixed;
  top: 67px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 20%;
  z-index: 1;
}

.interface-container.loading .loading-holder {
  display: block;
}

.help-icon {
  font-size: 16px;
  margin-left: 8px;
  color: #333;
  opacity: 0.5;
}
