<div class="load-more">
  <button data-load-more class="btn btn-link btn-block btn-lg">{{ T 'widgets.notificationInbox.actions.loadMore' }}</button>
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>
