<p><span class="unread-count">\{{TN count}}</span> {{ T 'widgets.notificationInbox.toolbar.unread' }} <span class="toolbar-read-all">(<a data-read-all href="#">{{ T 'widgets.notificationInbox.toolbar.actions.readAll' }}</a>)</span><i class="fa fa-lg fa-fw fa-cog pull-right" data-settings></i><i class="fa fa-lg fa-fw fa-refresh pull-right" data-refresh></i></p>
