<p><span class="unread-count">\{{count}}</span> unread <span class="toolbar-read-all">(<a data-read-all href="#">Mark all as read</a>)</span><i class="fa fa-lg fa-fw fa-cog pull-right" data-settings></i><i class="fa fa-lg fa-fw fa-refresh pull-right" data-refresh></i></p>
