.notification-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 1;
  min-width: 22px;
  width: auto;
  padding: 0 6px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 11px;
  background-color: #fe5857;
  color: #fff;
  border-radius: 22px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
